@import "tailwindcss";
body{
    margin: 0px;
    padding: 0px;
    background-image: url("../public/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}